<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            margin: 50px auto;
            width: 10%;
            border: 1px black solid;
            padding: 1em
        }
    </style>
</head>
<body>
    <p>DATE:{{date}}</p>
    <table>
        <tr>
            <th>
                <b>Time (HHMM)</b>
            </th>
            <th>
                <b>Patient's Name</b>
            </th>
            <th>
                <b>Doctor's Name</b>
            </th>
        </tr>
        {% for row in rows %}
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>