<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Car Registered Sucessfully!</h1>
    <table>
        <tr><td>VIN:</td>           <td>{{vin}}</td></tr>
        <tr><td>Brand:</td>         <td>{{brand}}</td></tr>
        <tr><td>Vehicle Type:</td>  <td>{{v_type}}</td></tr>
        <tr><td>Energy Source:</td> <td>{{energy_source}}</td></tr>
        <tr><td>Daily Price:</td>   <td>{{d_price}}</td></tr>
        <tr><td>Availability:</td>  <td>Avaliable</td></tr>
    </table>
</body>
</html>