<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <form action="/submit" method="post">
        <label>GP: <input type="text" name="gp"></label>
        <label>PW: <input type="text" name="pw"></label>
        <label>H1: <input type="text" name="h1"></label>
        <label>H2: <input type="text" name="h2_1"></label>
        <label>H2: <input type="text" name="h2_2"></label>
        <label>H2: <input type="text" name="h2_3"></label>
        <input type="submit" value="Submit">
    </form>
</body>

</html>